node_modules/
.next/
.next-bak-*
.next-build/
.netlify/
.venv/
out/
dist/
dist-app/
android/app/build/
public/downloads/
public/uploads/
coverage/

.env
.env*.local
*.log
*.tsbuildinfo
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

*.apk
*.exe
*.asar
*.app
